
    <section>
        <h2>About Me</h2>
        <h4>My name is Airton Toyansk, Freelance Web Developer and Software Product Manager from Brazil, currently based on Israel.
            I am specializing in both <strong>Front-End</strong> and <strong>Back-End Web Development</strong>. 
            I can answer you in English, Portuguese and Spanish.</h4><br>
        <p>With 10+ years of experience developing a wide range of solutions, from Enterprise Portals to Institutional Websites, I worked with many technologies in different environments.
          Self-taught and motivated to implement new trends in technology, I have always developed products of the highest quality, for different market niches.
          Among these, I can mention the Education, HR and Beauty areas.</p>
        <p>Working as a freelancer, I have currently developed solutions using <strong>MEAN Stack (MongoDB, Express, AngularJS and Node.js)</strong> technology, ensuring rapid and efficient development.
          But my products and skills include other languages such as <strong>PHP</strong> and <strong>ASP.NET C#</strong>. Besides that, I structure the products as a <strong>mobile-first approach</strong>, always mindful of <strong>responsive layout</strong> and product performance.
          For that, my tool set includes <strong>Bootstrap</strong>, <strong>Cordova</strong> and <strong>Ionic Framework</strong>. In addition to development, my passion includes working as a <strong>Product Manager</strong>, using knowledge of Agile Methodologies.
          As a <strong>Scrum Master Professional certified</strong>, I have the ability to take a broad view of the product and also work as a consultant, to ensure the  product success. See below my skills.</p>
        <p>If you have a project, I can help you, from the Front-End and Back-End Development to the configuration in the production environment. And I do not always do it alone. If your project needs someone else to include in your team, contact me.</p>
    </section>


