.card{
    margin-bottom: 15px;
    max-height: 200px;
    h5, span{
        color: white;
    }
    .controles{
        display: flex;
        justify-content: space-between;
        padding: 22px 5px;
    }
    .col-md-8{
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    img{
        border: 1px solid #cfcfcf;
        border-radius: 50%;
        width: 85px;
        height: 85px;
    }
}

.access-container{
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid #cfcfcf;
    padding: 8px;
    border-radius: 8px;
    margin: 15px 0;
}

.basicDisplay{
    display: block;
    opacity: 1;
}

.displayNone{
    display: none;
    opacity: 0;
}

.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-weight: 200;
    height: 200px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }

  progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    text-align: right;
    width: 90%;
    margin: 20px 0px;
    height: 16px;
  }

  progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress::-webkit-progress-value {
    background-color: #F05A28;
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress:after {
    content: attr(value) "%";
    position: relative;
    right: -15%;
    top: -20px;
  }
  .pctg{
      width: 300px;
      height: 50px;
  }