.card{
    margin-bottom: 15px;
    max-height: 200px;
    h5, span{
        color: white;
    }
    .controles{
        display: flex;
        justify-content: space-between;
        padding: 22px 5px;
    }
    .col-md-8{
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    img{
        border: 1px solid #cfcfcf;
        border-radius: 50%;
        width: 85px;
        height: 85px;
    }
}

.access-container{
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid #cfcfcf;
    padding: 8px;
    border-radius: 8px;
    margin: 15px 0;
}

.basicInfo{
    display: block;
    opacity: 1;
}

.imgList{
    display: none;
    opacity: 0;
}

.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 80vw;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }