<nav class="navbar navbar-expand-lg" [ngClass]="{'affix': navIsAffix==true}">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#myNavbar"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="/home">
          <figure>
            <img src="../assets/logo.png" class="imgNormal" height=65 width=65>
            <img src="../assets/logobranco.png" class="imgAffix" height=80 width=80>
          </figure>
        </a>
      <div class="navbar-collapse collapse" id="myNavbar" [ngClass]="{ 'show': navbarOpen }">
        <div *ngIf="authService.user$ | async; then authenticated else guest"></div>
        <ng-template #authenticated>
          <ul class="navbar-nav ml-auto">
            <li><a routerLink="/admin" routerLinkActive="active">DASHBOARD</a></li>
            <li><a routerLink="/adm-about" routerLinkActive="active">ABOUT</a></li>
            <li><a routerLink="/adm-services" routerLinkActive="active">SERVICES</a></li>
            <li><a routerLink="/adm-skills" routerLinkActive="active">SKILLS</a></li>
            <li><a routerLink="/adm-portfolio" routerLinkActive="active">PORTFOLIO</a></li>
            <li><a routerLink="/adm-messages" routerLinkActive="active">MESSAGES</a></li>
          </ul>
        </ng-template>
        <ng-template #guest>
          <ul class="navbar-nav ml-auto">  
            <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
            <li><a routerLink="/about" routerLinkActive="active">ABOUT ME</a></li>
            <li><a routerLink="/skills" routerLinkActive="active">SKILLS</a></li>
            <!-- <li><a href="#services">SERVICES</a></li>
            <li><a href="#projects">PROJECTS</a></li> -->
            <!--<li><a href="#blog">BLOG</a></li>-->
            <li><a routerLink="/contact" routerLinkActive="active">CONTACT ME</a></li>
          </ul>
        </ng-template>
        
      </div>
      <div>
        <ul class="lang">
          <li><a href="/pt-br" target="_self" id="lang"> | PT </a></li>
        </ul>
      </div>
  </nav>
