
<div class="jumbotron text-center" wmAnimate="fadeInRight" wmAnimateSpeed="faster">
  <h1>Web Developer &<br/>Product Manager</h1>
  <p>- Airton Toyansk -</p>
  <div class="about-option">
    <a href="#about" title="About me">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>
</div>

<section id="portfolio" class="text-center bg-grey">
  <h1>Featured Works
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 25 1440 200">
      <path fill="#f6f6f6" fill-opacity="1" d="M0,128L80,122.7C160,117,320,107,480,122.7C640,139,800,181,960,181.3C1120,181,1280,139,1360,117.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>
  </h1>
  <h4>A showcase of development, management and experiments I have worked on.</h4>
  <div class="contents" *ngIf="valor > 450">
    <ul id="filters" class="clearfix">
      <li><span class="filter" (click)="selectedCategory = 'all'">All Projects</span></li>
      <li *ngFor="let proj of projects | uniqueCategory:'category'" (click)="selectedCategory = proj.category"><span class="filter" >{{proj.category}}</span></li>
    </ul>
    <div id="projectlist" [@enterCard]="projects.length">

      <div class="card" *ngFor="let proj of projects | projectFilter:selectedCategory; index as i" [@filterCard]
      data-toggle="modal" [attr.data-target]="'#'+detModal" (click)="open(proj)">
        <img [src]="proj.img" class="card-img" />
        <div class="card-img-overlay">
          <div class="label">
						<div class="label-text">
							<a class="text-title">{{proj.title}}</a>
							<span class="text-category">{{proj.general}}</span>
						</div>
						<div class="label-bg"></div>
					</div>
        </div>
      </div>
      
      <div class="modal fade" [attr.id]="detModal" [ngClass]="{'show': showModal}">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">  
              <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <div class="entry-slide row">
                <div class="col">
                  <h2>{{modalTitle}}</h2>
                  <div [innerHTML]="modalIntro"></div>
                </div>
                <div class="col">
                  <img [src]="modalImgintro"/>
                </div>
              </div>
              <div class="container-challenge">
                <div class="container-slide">
                  <ng-image-slider [images]="modalSlide" [imageSize]="modalImgsize" [imagePopup]="false" [slideImage]="1" #nav></ng-image-slider>
                </div>
                <div class="challenge">
                  <h4>The Project</h4>
                  <div [innerHTML]="modalChallenge"></div>
                </div>
              </div>
              <div class="container-features">
                <div class="features">
                  <h4>Developed Features</h4>
                  <div class="row">
                    <div class="col-8">
                      <div [innerHTML]="modalFeatures"></div>
                    </div>
                    <div class="col-4">
                      <img [src]="modalImgFet"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-tech">
                <div class="tech">
                  <h4>Technologies</h4>
                  <div [innerHTML]="modalTech"></div>
                </div>
              </div>
              <div class="container-access">
                <div class="access">
                  <h4>Take a Look</h4>
                  <div>{{texto}}</div>
                  <a [href]="link" target="_blank">                      
                      <div *ngIf="badge === 'google'">
                        <img src="../../../assets/images/google-play-badge.png"/>
                      </div>
                      <div *ngIf="badge === 'ios'">
                        <img src="../../../assets/images/apple-badge.png"/>
                      </div>
                      <div *ngIf="badge === 'web'">
                        <img src="../../../assets/images/web.png"/>
                      </div>
                  </a>
                </div>
              </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="showModal=false" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

    </div>
  </div>
</section>