
<div class="jumbotron text-center">
  <h1>Web Developer &<br/>Product Manager</h1>
  <p>- Airton Toyansk -</p>
  <div class="about-option">
    <a href="#about" title="About me">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>
</div>

<section id="portfolio" class="text-center bg-grey">
  <h1>Portfolio</h1>
  <h4>A showcase of development, management and experiments I have worked on.</h4>
  <div class="contents slideanim">
    <ul id="filters" class="clearfix">
      <li><span class="filter" data-filter=".front, .back, .mob, .manage">All Projects</span></li>
      <li><span class="filter" data-filter=".front">Front-End</span></li>
      <li><span class="filter" data-filter=".back">Back-End</span></li>
      <li><span class="filter" data-filter=".mob">Mobile</span></li>
      <li><span class="filter active" data-filter=".manage">Management</span></li>
    </ul>
    <div id="projectlist">

			<div class="project manage" data-filter="manage">
				<div class="project-wrapper">
					<img src="/imagens/works/ser-com-br_th.png" alt="Ser" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Ser - Education System</a>
							<span class="text-category">www.ser.com.br</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>

      <div class="project back front" data-filter="back front">
				<div class="project-wrapper">
					<img src="/imagens/works/improvetalent-com_th.png" alt="Improve Talent" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Improve Talent - Online Couching</a>
							<span class="text-category">www.improvetalent.com</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>

      <div class="project mob" data-filter="mob">
				<div class="project-wrapper">
					<img src="/imagens/works/ibeautyme_th.png" alt="iBeauty.me" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">iBeauty.me</a>
							<span class="text-category">App of schedules for beauty salons</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>

      <div class="project manage" data-filter="manage">
				<div class="project-wrapper">
					<img src="/imagens/works/portalpedagogico-com-br_th.png" alt="Portal Pedagógico" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Portal Pedagógico - Educational Content</a>
							<span class="text-category">www.portalpedagogico.com.br</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>

      <div class="project front" data-filter="front">
				<div class="project-wrapper">
					<img src="/imagens/works/thebarbershop941-com_th.png" alt="The Barbershop 941" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">The Barbershop 941</a>
							<span class="text-category">http://thebarbershop941.com</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>

      <div class="project manage back" data-filter="manage back">
				<div class="project-wrapper">
					<img src="/imagens/works/aticascipione-com-br_th.png" alt="Atica e Scipione" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Atica e Scipione - Online Books Store</a>
							<span class="text-category">www.aticascipione.com.br</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>
    </div>
  </div>
</section>

<section id="services">
  <h1>Services</h1>
  <div *ngFor="let sv of services">

  </div>
</section>