
<div class="jumbotron text-center">
  <h1>Web Developer &<br/>Product Manager</h1>
  <p>- Airton Toyansk -</p>
  <div class="about-option">
    <a href="#about" title="About me">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>
</div>

<section id="portfolio" class="text-center bg-grey">
  <h1>Portfolio</h1>
  <h4>A showcase of development, management and experiments I have worked on.</h4>
  <div class="contents slideanim">
    <ul id="filters" class="clearfix">
      <li><span class="filter" (click)="selectedCategory = 'all'">All Projects</span></li>
      <li *ngFor="let proj of projects | uniqueCategory:'category'" (click)="selectedCategory = proj.category"><span class="filter" >{{proj.category}}</span></li>
    </ul>
    <div id="projectlist" [@enterCard]="projects.length">

      <div class="card" *ngFor="let proj of projects | projectFilter:selectedCategory; index as i" [@filterCard]
      data-toggle="modal" [attr.data-target]="'#'+detModal" (click)="open(proj)">
        <img [src]="proj.img" class="card-img" />
        <div class="card-img-overlay">
          <div class="label">
						<div class="label-text">
							<a class="text-title">{{proj.title}}</a>
							<span class="text-category">{{proj.intro}}</span>
						</div>
						<div class="label-bg"></div>
					</div>
        </div>
      </div>
      
      <div class="modal fade" [attr.id]="detModal" [ngClass]="{'show': showModal}">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{modalTitle}}</h4>
              <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <div class="container-slide">
                <ng-image-slider [images]="modalSlide" [imageSize]="{width: 220, height: 180, space: 3}" [imagePopup]="false" [slideImage]="1" #nav></ng-image-slider>
              </div>
              
              <p>{{modalIntro}}</p>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="showModal=false" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="services">
  <h1>Services</h1>
  <div *ngFor="let sv of services">

  </div>
</section>