@import '../../../assets/styles/mixins';

    h1{
        background: linear-gradient(
            rgba(39, 224, 255, 0.65) 50%,
            rgba(39, 224, 255, 0.85) 80%,
            rgba(255, 255, 255, 1) 100%
          ), url('../../../assets/images/jquery-code.jpg') center center;
          background-repeat: no-repeat;
          background-size: cover;
          @include fade-in('500ms');
    }

    h2 {
        line-height: 45px;
    }

    .btn-outline-rounded {
        padding: 8px 25px;
        margin: 10px 0;
        border: 2px solid transparent;
        border-radius: 15px;
        float: right;
        font-weight: bold;
        background-color: var(--primary);

        &:hover,
        &:focus,
        &.focus,
        &:active:focus,
        &:active,
        &.active {
            background-color: var(--secondary);
            border: 2px solid transparent !important;
            box-shadow: none !important;
        }
    }

    i{
        font-size: 18px;
        color: var(--secondary);
    }