<div class="footer-area">
    <div class="at-link-contact">
        <div class="link-contact">
            <h2>Have a great idea for an app? Need a website?</h2>
            <span>Click below and get in touch!</span>
            <div class="contactme">
               <a routerLink="/contact" class="btn btn-contact">Contact me!</a> 
            </div>
        </div>
    </div>
    <footer class="at-footer">
          <ul class="social clearfix">
            <li><a class="facebook" href="https://www.facebook.com/airtontoyansk" target="_blank"></a></li>
            <li><a class="github" href="https://github.com/atoyansk" target="_blank"></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/airtontoyansk/" target="_blank"></a></li>
          </ul>
          <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav">  
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About me</a></li>
                <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact me</a></li>
                <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
            </ul> 
          </nav>
          
          <p>© {{year}} - Airton Toyansk Portfolio</p>
          <div>
           <ul class="lang-mob">
             <li><a href="/pt-br" target="_self" id="lang"> | PT </a></li>
           </ul>
          </div>
    </footer>
</div>

