<mat-toolbar class="mat-elevation-z8">  
  <figure>
    <img src="../assets/logo.png" class="imgNormal" width="65" height="65" routerLink="/"/>
  </figure> 
  <span class="fill-remaining-space"></span>
  <section class="menu-top">
    <button mat-button routerLink="/">Home</button>  
    <button mat-button routerLink="/about">About Me</button>
    <button mat-button routerLink="/skills">My Skills</button>
  </section> 
  <section class="menu-lang">
    <button mat-button routerLink="/">| PT </button>
  </section>

</mat-toolbar>
  
<router-outlet></router-outlet>