/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap&subset=latin-ext');

@import 'assets/styles/variables';
@import 'assets/styles/mixins';

body {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #4E4E4E;
  }
  
  h2 {
    font-size: 24px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
  }
  a {
  color: #4E4E4E;
  }
  a:focus, a:hover{
    @include animate(color, 320ms);
    color: var(--primary);
    text-decoration: none;
  }
  section{
    div{
      margin-top: 60px;
      padding: 0 25px 50px;
    }
    h1{
      padding: 80px;
      text-align: center;
      color: #FFF;
      display: block;
    }
  }

  /* LOGIN PROCESS CARDS */
  .container{
    height: 100%;
    align-content: center;
    margin-top: 80px;
}
    
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header{ 
    background-color: var(--gray-shadow);
    h3{
        color: white;
    }
}
.input-group-prepend span{
    width: 40px;
    background-color: var(--secondary);
    color: white;
    border:0 !important;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
}
.login_btn{
    color: white;
    background-color: var(--secondary);
    margin-top: 30px;
    &:hover{
        color: white;
        background-color: rgb(207, 58, 32);
    }
}
    
.links a{ margin-left: 4px; }

.form-footer{
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
