:root 
{
    --primary:      #27dfff;
    --secondary:    #178299;
    // --secondary:    #ff4727;
    --danger:       #B00020;
    --gray-light:   #ECEFF1;
    --gray-medium:  #394b53;
    --gray-shadow:  #263238;
    --custom:       #2E5376; 
}